html,body{
    padding: 0;
    margin: 0;
    font-family: 'Goldman', cursive;
}

*{
    box-sizing: border-box;
}
body{
    background-color: #344a72;

}

button{
    font-family: 'Goldman', cursive;
}

.btn{
    padding: 5px 10px;
}
/* form section */
#note-form{

}
.container{
    max-width: 400px;
    margin: 0 auto;
}
.main-title{
    text-align: center;
    font-size: 42px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(90, 147, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}
.form-wrap{
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 20px;
}
.form-group{
    padding: 10px 0;
}
.form-wrap label{
    display: block;
}
.form-wrap textarea{
    width: 100%;
    resize: vertical;

}
.form-wrap input{
    width: 100%;
}
.form-submit{
    text-align: center;
    padding: 10px 0;
}

.clearNotes{
    margin-top: 50px;
    text-align: center;
}


/* display note section */
#note-display{
    margin-top: 20px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.note{
    background-color: yellow;
    height: 200px;
    margin: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.note:hover{
    transform: scale(1.2,1.2);
    transition: transform 1s ;
}

.note:hover .remove-container{
    display: block;
}

.note textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 70%;
    resize: none;
    margin-bottom: 20px;
}

.note p{
    margin: 0;
}

/* remove icon */
.remove-container{
    position: absolute;
    right:0;
    top: -20px;
    display: none;
}
.fa-remove{
    color: red;
    font-size: 40px

}

/* animition */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
